rainmaker-pgr=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/pgr-reports.yml
rainmaker-pt=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/pt-reports.yml
rainmaker-tl=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/tl-reports.yml
rainmaker-uc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/uc-reports.yml
rainmaker-noc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/rainmaker-noc-reports.yml
rainmaker-ws=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/ws-reports.yml
rainmaker-hrms=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/hrms-reports.yml
rainmaker-obps=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/rainmaker-obps-reports.yml
rainmaker-misc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/pending.yml
rainmaker-swach=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/swach-reports.yml
rainmaker-survey=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/citizen-survey-reports.yml
rainmaker-ndc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/ndc-reports.yml
rainmaker-ptr=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/ptr-reports.yml
rainmaker-chb=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/chb-reports.yml
rainmaker-adv=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/adv-reports.yml
rainmaker-obpas_noc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/obpas_noc-reports.yml
rainmaker-obpas_clu=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/obpas_clu-reports.yml
rainmaker-obpas_layout=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/obpas_layout-reports.yml

